@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@600&display=swap');

.menu {
    z-index: 3;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0 60px 0 40px;
    background: rgba(15, 15, 15, 0.89);
    box-sizing: border-box;
    border: 1px solid var(--vermelho-escuro);
    color: white;
    top: 0px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 1.2em;
    align-items: center;
    position: sticky;
    box-shadow: 1px 1px 5px 1px rgb(20, 20, 20);
}

.menu img {
    width: 110px;
}

.menu ul {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    gap: 60px;
    list-style: none;
}